/* Import de Fuente: banger */
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
#container {
  width: 100%;
  display: inline-block;
}

/** Barra de navegacion */
html {
  font-size: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  background-color: #1b1b1b;
  font-family: 'Bangers', cursive;
}

#mangalogo {
  width: 150px;
  height: 60px;
  -o-object-fit: fill;
     object-fit: fill;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*, a {
  color: #ffffff;
}

a {
  position: relative;
  text-decoration: none;
}

a::before {
  content: "";
  position: absolute;
  height: 3px;
  right: 0px;
  bottom: -3px;
  left: 0px;
  background-color: #d81dd8;
}

a:hover {
  color: #d81dd8;
}

a:hover::before {
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #d81dd8), color-stop(75%, #6210fa));
  background: linear-gradient(to right, #d81dd8 40%, #6210fa 75%);
}

nav {
  margin-bottom: 4rem;
  font-size: 1.5rem;
}

@media (min-width: 600px) {
  nav {
    padding: 5px;
  }
}

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

nav a {
  font-size: 1.25rem;
}

@media (min-width: 42em) {
  nav a {
    font-size: 2rem;
  }
}

nav.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 600px) {
  nav.flexbox {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

nav.flexbox > a {
  margin-bottom: 10px;
}

@media (min-width: 600px) {
  nav.flexbox > a {
    margin-bottom: 0px;
  }
}

nav.flexbox .fullwidth {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 600px) {
  nav.flexbox .fullwidth {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

nav.flexbox ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.flexbox ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  margin-right: 10px;
  text-align: center;
}

@media (min-width: 600px) {
  nav.flexbox ul li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-right: 20px;
  }
}

nav.flexbox ul li:last-child {
  margin-right: 0px;
}

nav.grid ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100px)[3];
      grid-template-columns: repeat(3, 100px);
  grid-gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

@media (min-width: 600px) {
  nav.grid ul {
    -ms-grid-columns: 1fr (fit-content(50px))[3];
        grid-template-columns: 1fr repeat(3, fit-content(50px));
    grid-gap: 20px;
    justify-items: end;
  }
}

nav.grid .fullwidth {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

@media (min-width: 600px) {
  nav.grid .fullwidth {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

/* Carousel de Mangas */
.arrow__btn {
  font-family: a;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #000;
}

h1 {
  font-family: Arial;
  color: grey;
  text-align: center;
}

.item img {
  height: 100%;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100%)[3];
      grid-template-columns: repeat(3, 100%);
  overflow: hidden;
  scroll-behavior: smooth;
}

.wrapper section {
  min-width: 50%;
  max-width: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[5];
      grid-template-columns: repeat(5, auto);
  margin: 20px 0;
}

.wrapper section .item {
  padding: 5% 6%;
  -webkit-transition: 250ms all;
  transition: 250ms all;
}

.wrapper section .item:hover {
  margin: 0 40px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.wrapper section a {
  position: absolute;
  color: #fff;
  text-decoration: none;
  font-size: 6em;
  background: black;
  width: 80px;
  padding: 20px;
  text-align: center;
  z-index: 1;
}

.wrapper section a:nth-of-type(1) {
  top: -10%;
  bottom: -10%;
  left: 0;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), to(black));
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

.wrapper section a:nth-of-type(2) {
  top: -10%;
  bottom: -10%;
  right: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(black));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

@media only screen and (max-width: 600px) {
  a.arrow__btn {
    display: none;
  }
}

.footer-wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
      grid-template-areas: "ftrsection1"
 "ftrsection2";
  -ms-grid-columns: fit-content;
  grid-template-columns: -webkit-fit-content;
  grid-template-columns: fit-content;
  justify-items: stretch;
  max-height: -webkit-min-content;
  max-height: -moz-min-content;
  max-height: min-content;
  width: inherit;
}
/*# sourceMappingURL=estilos.css.map */